body{
    font-family: 'Josefin Sans', sans-serif;
}
nav{
    font-size: 16px;
    line-height: 16px;
    color: #083E9E;
    box-shadow: 0 3px 8px rgba(0,0,0,.1);
    margin-bottom: 100px;
}
.close div{
    width:25px;
    height:2px;
    margin:5px;
    background:#083E9E;
    cursor:pointer;
    transition:all 300ms ease;
  }
  .line-1{
    transform:rotate(-45deg) translate(-5px,6px);
  }
   .line-2{
    opacity:0;
  }
   .line-3{
    transform:rotate(45deg) translate(-5px,-6px);
  }
  .account:hover{
      background-color:#083E9E;
      color: white;
      
  }
  .account{
    border:1px solid #083E9E;
    padding: 15px 20px;
  }
  .contain h3{
      font-size: 30px;
      line-height: 36px;
      color: #083E9E;
      font-weight: 600;
  }
  input{
      background: rgba(0, 136, 204, 0.08);
      padding: 10px;
      width: 100%;
      border-radius: 5px;
  }
  input:focus{
      border: solid 1px blue;
      outline: none;
  }
  input.src{
    background: transparent;
    padding: 0;
  }
  input.src:focus{
      border: none;
      outline: none;
  }
  button.interest{
      padding: 15px 30px;
      margin: 0 auto;
      background-color: #083E9E;
      color: white;
      border-top-left-radius: 10px;
      border-bottom-right-radius: 10px;
      outline: none;
  }
  button.acct{
      padding: 10px 20px;
      background-color: #30C57B;
      margin-top: 100px;
      border-radius: 4px;
      color: white;
  }
  button.acct2{
    padding: 15px 30px;
    background-color: #083E9E;
    margin-top: 60px;
    border-radius: 4px;
    color: white;
}

  button.interest:hover{
      background-color: #158add;
  }
  button.acct:hover{
      background-color:white;
      color:  #083E9E;
      border: 1px  #083E9E solid;
  }
  button.acct2:hover{
    background-color:#158add;
 }
  .img-cont{
      height: 345px;
      background: url(invest.png);
      background-color: #e1e9eb;
      background-size: 100% 100%;
      border-radius: 10px;
  }
  .img-cont1{
    height: 345px;
    background: url(principles.png);
    background-color: #e1e9eb;
    background-size: 100% 100%;
    border-radius: 10px;
  }
  .store div{
      width: 104px;
      height: 33px;
      margin-top: 30px;
      cursor: pointer;
  }
  
  .footer{
      background: rgba(0, 136, 204, 0.04);
      padding-top: 75px;
      padding-bottom: 75px;
      border-top: 1px solid gray;
      margin-top: 75px;
      font-size: 15px;
  }
  .footer p{
      color:rgb(112, 110, 110);
  }
  .footer a{
      color: rgb(37, 36, 36);
  }
  .logo{
      width: 201px;
  }
   a:hover{
      color: #083E9E;
  }
  div.blk a{
      display: block;
  }
  div.output{
    background: #6190E8;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #A7BFE8, #6190E8);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #A7BFE8, #6190E8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 500px;
    position: absolute;
    z-index: 10;
    left: 30%;
    top: 50%;
  }
  div.disp{
      padding: 30px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background: white;
      border-bottom-right-radius: 20px;
      border-top-left-radius: 20px;
      height: 70%;
      margin-top: 35px;
  }
 .output button{
    display:inline-block;
    margin:1rem 0;
    padding:0.8rem 1rem;
    width:80%;
    cursor:pointer;
    border:none;
    border-radius:10px 0 10px 0;
    background-color: #2295f2;
    color:white;
    transition:all 500ms ease;
  }
  .output button:focus{
    outline:none;
  }
  .output button:hover{
    transform:scale(1.1);
    background:#2296ff ;
  }
  
  .dropdown{
      border-radius: 10px;
      background: rgb(241, 238, 230);
  }

  .dropdown p{
      padding: 15px;
  }

  .dropdown p:hover{
      background: #2296ff;
  }
  div.source{
    background: rgba(0, 136, 204, 0.08);
    border-radius: 5px;
    padding: 10px;
  }
  .bd{
    border: solid 1px blue;
    outline: none;
    background-color: rebeccapurple;
  }