
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
*{
  box-sizing: border-box;
}
body{
  margin:auto;
  padding:0;
  display:flex;
  width:100%;
  align-items: center;
  justify-content: center;
  font-family: 'Josefin Sans', sans-serif;
}
.container{
  text-align: center;
  background-color: #062963;
  color:white;
  padding:1rem;
  width:100%;
  margin:0 auto;
}

.burger{
  float:right;
  margin-top:-9px;
  
}
.burger div{
  width:25px;
  height:3px;
  margin:5px;
  background-color:#2295f2;
  cursor:pointer;
  transition:all 300ms ease;
}
 .line-1{
  transform:rotate(-45deg) translate(-5px,6px)
}
 .line-2{
  opacity:0;
}
 .line-3{
  transform:rotate(45deg) translate(-5px,-6px)
}
.second-cont{
  background: white;
  color:rgb(2, 2, 2);
  padding:1.5rem;
  margin:1.5rem auto;
  border-radius: 18px 18px 18px 0;
}
.content{
  margin:2rem;
}
.content p,h3,h4{
  margin:0.7rem;
}
.illustration{
  margin:0 auto;
}
.content p{
  font-size: 0.7rem;
}
button{
  display:inline-block;
  margin:1rem 0;
  padding:0.8rem 1rem;
  width:80%;
  cursor:pointer;
  border:none;
  border-radius:10px 10px 10px 0;
  background-color: #2295f2;
  color:white;
  transition:all 500ms ease;
}
button:focus{
  outline:none;
}
button:hover{
  transform:scale(1.1);
  background:#2296ff ;
}
@media only screen and (min-width:800px){
  .second-cont{
    width:50%;
  }
  .illustration{
    width:60%;
  }
}